<!-- <div class="container-fluid">
<div class="row-fluid">
<div class='span6'>
<form class="form-horizontal"> -->
<%= form_tag do %>

	<div class="control-group">
	    <label class="control-label" for="inputName">Name</label>
	<div class="controls">
	<%= text_field_tag :name, params[:name]%>
	</div>
   </div>

    <div class="control-group">
		<label class="control-label" for="inputPassword">Password</label>
		<div class="controls">
	<%= password_field_tag :password, params[:password] %>
	</div>
   </div>

   <div class="control-group">
	<div class="controls">
	<%= submit_tag "Login", :class => 'btn btn-primary' %>
	<%= submit_tag "Clear Form", :type => 'reset', :class => 'btn' %>
	</div>
    </div>
<% end %>
<!-- </form>
</div>
</div>
</div> -->