<%= form_tag products_path, :method => 'get', :class => 'form-search' do %>
  <p>
<%= text_field_tag :search, params[:search], :class => 'span6' %>    <%= submit_tag "Search", :class => "btn btn-info"%>
  </p>
<% end %>

 <div class='row-fluid'>
 <ul class="thumbnails">
	<% @products.each do |product| %>
       <li class="span4 text-center">
      	<div class="thumbnail">
         <%= link_to image_tag(product.image_url, size: '350x250'), product_url(product) %>
        <h5><%= product.title %></h5>
        <strong><%= number_to_currency(product.price) %></strong>
      </div>
        </li>    
 <% end %>
 </ul>
</div>